- if @note
 %title #{@title}
 %form{ :action => "/#{@note.id}", :method => "post"}
  %input{:type => "hidden", :name => "_method", :value => "delete" }
  %p confirm delete of note: 
  %p (#{@note.id}) #{@note.content}
  %input{:type => "submit", :value => "delete"}
  
 %a{ :href => "/#{@note.id}"} Cancel

- else
 %p note not found